
.site__nav-button {
    margin: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 10rem;
    border: none;

    &:focus {
        outline: none;
    }

    &:hover {
        cursor: pointer;
        color: white;
        background-color: $color-primary-1;
        box-shadow: 0 .5rem 1rem lightskyblue;
    }
}
   

